.containerlogin {
    box-shadow: 5px 5px 10px #ccc;
    width: 500px;
    margin-left:35%;
    margin-top:5%;
    padding: 50px;
    border-radius: 5px;
}

.box-taikhoan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .box-taikhoan input[type="text"], input[type="password"] {
        height: 30px;
        width: 200px;
        border-radius: 5px;
        border: 1px solid #003B70;
    }

.btnLogin {
    padding: 30px;
}

    .btnLogin button[type="submit"] {
        cursor:pointer;
        border: none;
        outline: none;
        background-color: #003B70;
        padding: 10px;
        border-radius: 5px;
        color: aliceblue;
    }
